body {
    border-radius: 20px;
    margin: auto;
}
.test_color{
    color: firebrick;
}
.test{
    color: aqua;
    font-family: Tahoma;
    font-size: 24px;
    background: firebrick;
    padding: 12px;
    border-radius: 5px;
}
.div1{
    background: aqua;
    padding: 12px;
    border-radius: 5px;
}
.div2{
    background: black;
    padding: 12px;
    border-radius: 5px;
    margin: auto;
    width: 25%;
}
.marquee {
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 1ms linear;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}